################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/build-QtScrcpy-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/platform-tools
